* {
  padding: 0;
  margin: 0;
  background-color: #aaa;
  font-family: Sans-Serif;
  max-width: 100vw;
}

.container-fluid {
  padding: 0px !important;
}

canvas {
  background-color: #fff;
  border: 1px solid #fff;
  display: block;
}

.title-tools {
  font-weight: bold;
  font-size: 18px;
}

.form-label, .d-inline value-input {
  font-size: 16px;
}